.docs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(670px, 100%), 1fr));
  gap: 30px;
}

.doc-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: top;
  padding: 10px;
  padding-top: 0px;

  background: #1b1229;
  border-radius: 15px;
}

.doc-iconbox {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;

  padding: 10px;
  margin-right: 20px;

  font-size: 100px;
  background: #3a3242;
  border-radius: 15px;
}

.doc-textbox {
  color: #b7b4bb;
}

.doc-name {
  font-size: 35px;
  font-family: "Poppins", Tahoma, sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
}

.doc-text {
  font-size: 20px;
}
