* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

html {
  background-color: black;
  color: white;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family: "Roboto", Tahoma, sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

main, footer {
  overflow: hidden;
}

.section-heading {
  margin-bottom: 60px;
  h1 {
    color: #efcc90;
    font-family: "Poppins", Tahoma, sans-serif;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
  }
  p {
    font-size: 18px;
    text-align: center;
  }
}

main > section:first-child::before {
  margin-top: 75px;
  content: '';
}
main > section {
  width: 100%;
  min-height: 100vh;
  padding: 0 10vw;

  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: column nowrap;
}
.deep-purple {
  background: #303;
}
.royal-blue {
  background-color: #2549ad;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: 2px solid rgb(255, 255, 255, .2);
  width: 100%;
  background: black;
  min-height: 60px;
  padding: 15px;  

  & p {
    font-size: 1.1em;
    text-align: center;
  }
}

@media (max-width: 1080px) and (min-width: 721px) and (min-height: 401px) {
  main>section:first-child::before {
    margin-top: 110px;
  }
}
