.blog-header {
  margin:0 auto;
  text-align:center;
  max-width: 700px;
}
.blog-header h3 {
  font-size:14px;
  font-weight:600;
  text-transform:uppercase;
  margin-bottom:0px;
  color:white;
}
.blog-header h2 {
  margin-bottom:20px;
  font-size:40px;
  font-weight:700;
  color:white;
}
.blog-header p {
  font-size:18px;
  columns:#999;
  line-height:1.5em;
  margin-bottom:15px;
  color:white;
}
.blogs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 30px;
}
.blog-top {
  position:relative;
  margin-bottom:10px;
}
.blog-top img {
  width:100%;
  height:auto;
  border-radius:5px;
}
.blog-top .blog-category{
  position:absolute;
  top:20px;
  left:20px;
  color:#fff;
  background-color:#000;
  padding:5px 10px;
  border-radius:5px;
  font-size:12px;
  text-transform:uppercase;
}
.blog-about {
  margin-bottom:1px;
  color:#efcc90;
}
.blog a{
  color:white;
  text-decoration:none;
}
.blog a h4{
  font-size:20px;
  font-weight:600;
  margin-bottom:20px;
  color:white;
}
.blog .blog-text{
  font-size:12px;
  margin-top:-10px;
  margin-bottom:30px;
  color:#d3d3d3;
}
.read-more{
  margin-top:20px;
  display:block;
  font-size:12px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  transition:all 0.4s ease;
}
.read-more:hover {
  margin-left:20px;
}

.imgblog {
  width: 100%;            
  max-width: 400px;       
  height: auto;          
  object-fit: cover;      
  display: block;
  border-radius: 8px;     
  transition: all .2s ease-in-out;
}

.imgblog:hover {
  transform: scale(1.02);
  box-shadow: 3px 3px 9px #000000;
}

@media (max-width: 600px) {
  .imgblog {
    max-width: 100%;      
  }
}

@media (min-width: 1200px) {
  .imgblog {
    max-width: 600px;    
  }
}
